#root {
  margin: 0 auto;
}

html,
body {
  margin: 0%;
  padding: 0%;
}

#app {
  display: grid;
  padding: 1rem;
  gap: 3em;
}

#settings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

#settings > * {
  display: grid;
  gap: 0.3rem;
}
#settings .dataInput {
  grid-column: span 2;
}

#settings .dataInput textarea {
  height: 10ch;
}

#settings .title {
  grid-column: span 2;
}

#settings .title input {
  font-size: 1rem;
}

#output-container {
  padding: 1rem;
  min-height: 3rem;
  border-radius: 0.5rem;
  display: grid;
  gap: 0.25rem;
}

#title, #subTitle {
  color: black;
  text-align: center;
  margin: 0%;
  padding: 0%;
}

#title {
  font-size: 1.75rem;
}

#subTitle {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  place-content: center;

  
}

@media print {
  #settings {
    display: none;
  }
  #app {
    padding: 0%;
  }
}
