.image-container {
  position: relative;
  display: grid;
  justify-items: center;
  gap: 0.5em;
  page-break-inside: avoid;
}
.image-wrapper {
  display: grid;
  place-content: center;
  color: black;
  border-radius: 0.4rem;
  border-style: solid;
  overflow: hidden;
  position: relative;
  user-select: none;
}

.image-container img {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: contain;
  user-select: none;
}
.image-text {
  display: grid;
  gap: 0em;
  justify-items: center;
}

.image-text * {
  color: black;
  margin: 0em;
  padding: 0em;
}
.image-text h3 {
  font-size: 1em;
}

 .image-text h4 {
   font-size: 0.9em
}
